<div class="player-container" [ngClass]="{'toggle': false  }">
  <div *ngIf="(currentSong$ | async ) as currentSong; else empty_song">
   <nod-current-song [song]=currentSong></nod-current-song>
  </div>
  <div class="player-buttons-container">
    <button (click)="previous()">
      <nod-svg-icon icon="icon-previous2" class="icon player-icon"></nod-svg-icon>
    </button>
    <button (click)="play()">
      <nod-svg-icon *ngIf="!isPlaying" icon="icon-play3" class="icon player-icon"></nod-svg-icon>
      <nod-svg-icon *ngIf="isPlaying" icon="icon-pause2" class="icon player-icon"></nod-svg-icon>
    </button>
    <button (click)="next()">
      <nod-svg-icon icon="icon-next2" class="icon player-icon"></nod-svg-icon>
    </button>
  </div>
  <div class="devices-icon-container">
    <button (click)="toggleDevices()">
      <nod-svg-icon icon="icon-devices" class="icon player-icon"></nod-svg-icon>
    </button>
  </div>
</div>

<div *ngIf="(devices$ | async ) as deviceList" class="devices-container">
  <div *ngIf="showDevices">
    <nod-device *ngFor="let device of deviceList" [device]="device" (onDeviceSelected)="refreshDevices()"></nod-device>
  </div>
</div>

<ng-template #empty_song><div> no song being played..</div></ng-template>
