:host {
  display: inline-block;
  transition: none;

  svg {
    display: inline-block;
    all: inherit;
    fill: #bdbdbdb5;
    transition: none;
  }

  svg:active {
    fill: #153b36;
    all: inherit;
  }
}
