
<div class="device-item" [ngClass]="{'play' : device.is_active}" *ngFor="let device of devices$ | async; trackBy: trackById" >
  <div class="title">
    <span class="name">{{device.name}} </span>
    <span (click)="play(device.id, device.is_active)"> play/pause</span>
  </div>
  <div class="icon">
        <div [class]="'device '+device.type | lowercase " [ngClass]="{'play' : device.is_active}">
      <div class="screenWrapper x2">
      </div>
    </div>
  </div>
  <div class="footer">
    {{device.volume_percent}}
    <input type="range" min="0" max="100" [value]="device.volume_percent" class="slider">
  </div>
</div>
<app-main-button (click)="refresh()"></app-main-button>
<div class="join"></div>
