.join {
      width: 2em;
      height: 2em;
      background: #a7c1b1;
      border-radius: 1em;
      position: fixed;
      margin: 1em;
      top: 0;
      right: 0;
      &.success {
        background: #2db18f;
        animation: bit 0.6s ease infinite;
      }
  &:hover{
    background: #64c685;
    box-shadow: 0 0 0 2px #f7fdff6e, 0 0 0 4px #2db18f6e;
    cursor: pointer;
    &:before{
      opacity: .4;
        transform: scale(2);
    }
}


@keyframes bit {
  0% {
    box-shadow: 0 0 0 2px #f7fdff6e, 0 0 0 4px #2db18f6e;
  }
  100% {
    box-shadow: 0 0 0 4px #f7fdff1f, 0 0 064px #1ed75f1f;
  }
}
}
.devices {
  position: fixed;
  right: 0;
  bottom: 12.5vh;
}

