<nod-tile class="expand" [ngClass]="{'is-active' : user.connected}">
  <div class="title">
    <span class="name">{{user.name}} </span>
  </div>
  <div class="image">
    <img src="{{user.pictureUrl}}" alt="{{user.name}}">
  </div>
  <div class="footer userSong" *ngIf="user.currentSong" [ngClass]="{'playing-song': !user.currentSong.paused}">
    <div>
      <nod-current-song [song]= "user.currentSong"></nod-current-song>
    </div>
    <nod-svg-icon (click)="join(user.id)" icon="icon-headphones" class="icon"></nod-svg-icon>
  </div>
</nod-tile>

