
* { transition-duration: .5s}
@mixin styling($buttonSize) {
  .main-button {
    background: #2db18f;
    position: fixed;
    width: $buttonSize;
    height: $buttonSize;
    border-radius: 50%;
    border-color: #2db18f;
    box-shadow: 0 4px 19px 6px rgba(94, 219, 141, 0.2);
    display: flex;
    justify-content: center;
    &:before, &:after {
      pointer-events: none;
    }
  }

  .main-button:hover {
    cursor: pointer;
    box-shadow: 0 4px 19px 6px rgba(94, 219, 141, 0.28);
    transform: scale(1.05);
  }

  .main-button:active {
    transform: scale(0.95) translateY(10%);
    box-shadow: 0px 7px 19px 3px rgba(94, 219, 141, 0.25);
  }

  .main-button:after {
    content: "N D";
    position: absolute;
    letter-spacing: #{$buttonSize / 2};
    color: rgba(90, 227, 142, 0);
    width: #{$buttonSize * 3.04};
    height: #{$buttonSize};
    font-size: 0;
    left: -#{$buttonSize * 4/5};
    top: #{$buttonSize / 5};
    text-align: center;
    text-shadow: 0px 0px 16px rgba(94, 219, 141, 0);
  }

  .main-button:before {
    content: " ";
    position: absolute;
    background: #0f0f0f;
    width: 30%;
    height: 30%;
    border-radius: 50%;
    left: 35%;
    top: 35%;
    transform-origin: center;
    box-shadow: inset 0 4px 19px 6px rgba(94, 219, 141, 0.2);
    clip-path: polygon(0% 0, 0% 100%, 100% 1000%, 100% 0%);
    &:hover:before {
      box-shadow: inset 0 4px 19px 6px rgba(94, 219, 141, 0.28);
      transform: scale(1.9);
    }
  }


  .main-button.loop:after {
    color: rgba(90, 227, 142, 1);
    text-shadow: 0px 0px 16px rgba(94, 219, 141, 1);
    font-size: #{$buttonSize/2};
  }
  .main-button.play::before{
    top: 13%;
    clip-path: polygon(33% 0, 33% 100%, 100% 50%, 33% 0);
  }
  .main-button:active:before {
    transform: scale(2.7);
    box-shadow: inset 0 4px 7px 1px rgba(94, 219, 141, 0.25);
  }

  .loop.main-button:before {
    animation: 4s load-loop ease-in-out infinite;
  }

  .loop.main-button:after {
    animation: 4s load-loop-name ease-in-out infinite;
  }


  .main-button.squeezeV {
    transform: scaleX(0.8) scaleY(1.2);
  }

  .main-button.squeezeH {
    transform: scaleY(0.8) scaleX(1.2);
  }

  .main-button.center {
    left: calc(50vw - #{$buttonSize} / 2);
    top: calc(50vh - #{$buttonSize} / 2);
  }

  .main-button.bottom {
    $bottom-bar-heigth: 90px;
    top: calc(100vh - #{$bottom-bar-heigth});
    @media screen and (max-width: 600px) {
      top: calc(100vh - #{$bottom-bar-heigth} - 100px);
    }
    transform: translateX(-50%);
    left: 50vw;
    box-shadow: none;
    border-radius: 50% 50% 50% 50% / 0% 0% 100% 100%;
    border-right: #{$buttonSize} solid #434343;
    border-left: #{$buttonSize} solid #434343;
    padding-bottom: 30%;
    background: #434343;
    &:before, &:after {
      content:none;
    }
    &:hover {
      cursor: auto;
      box-shadow: none;
    }
    animation: .75s wiggle cubic-bezier(1, 3.07, 0.2, -2.25), 1s toFullWidth  cubic-bezier(0.68, -0.55, 0.265, 1.55) forwards;
    height: #{$bottom-bar-heigth};
  }


.loop.main-button.bottom:after {
  content:none;
}

  .main-button.error {
    box-shadow: 0 4px 19px 6px rgba(244, 67, 54, 0.45);
    background: #ba4759;
    animation: shake .2s ease-in-out 1;
    &:before {
      box-shadow: inset 0 4px 19px 6px rgba(244, 67, 54, 0.33)
    }
    &:after {
      font-size:9vw;
      opacity: 0;
    }
  }



  @keyframes wiggle {
    0%,
    100% {
     border-radius: 50% 50% 50% 50%/0% 0% 100% 100%;;
    }
    50% {
  border-radius: 50% 50%;
  }
}

@keyframes toFullWidth {
  0% {
   transform: translateX(-50%);
   left: 50vw;
  }

  100% {
   width: 100vw;
   transform: translateX(-50%);
   left: 50vw;
  }
}
  @keyframes load-loop {
    0%,
    100% {
      transform: scale(3);
    }
    50% {
      transform: scale(0);
    }
  }
  @keyframes load-loop-name {
    0%,
    100% {
      text-shadow: 0px 0px 6px rgba(94, 219, 141, 0);
    }
    50% {
      text-shadow: 0px 0px 16px rgba(94, 219, 141, 0);
    }
  }
}

@media screen and (max-width: 600px) {
  @include styling($buttonSize: 35vw);
}
@media screen and (min-width: 601px) {
  @include styling($buttonSize: 25vh);
}
