@import url('https://fonts.googleapis.com/css?family=Varela+Round&display=swap');
$ui-elements-transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55),  font-size .2s ease-in-out;

*, *:before, *:after {
  font-family: 'Varela Round', sans-serif;
  transition: $ui-elements-transition;
}

*::-webkit-scrollbar {
  width: 5px;
  background-color: #24282e
}
*::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0);
      box-shadow: inset 0 0 3px rgba(0, 0, 0, 0)
    }
*::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 4px
}

body {
  background: #0f0f0f;
  color: #bdbdbdb5;
  font-size: 14px;
  margin: 0;
  overflow: hidden;
  height: 100vh;
}

img {
  width: 100%;
}
a {
  color: #bdbdbdb5;
  text-decoration: none;
  font-weight: bold;
}

.icon{
  cursor: pointer;
  margin: auto;
  &.play{
    background: #bdbdbdb5;
    top: 13%;
    display: block;
    clip-path: polygon(33% 0, 33% 100%, 100% 50%, 33% 0);
  }

  &.cross{
    clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
    background: #bdbdbdb5;
  }

  &.pause{
    display:block;
    background: #bdbdbdb5;
    top: 13%;
    clip-path:polygon(20% 100%, 20% 0%, 35% 0%, 35% 100%, 65% 100%, 65% 0%, 80% 0%, 80% 100%);

  }
}


.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 5px;
  border-radius: 5px;
  background: #d7dcdf;
  outline: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  position: relative;
  cursor: pointer;
  &:focus, &:hover {
    &::-webkit-slider-thumb {
      background: #2db18f;
      box-shadow: 0 0 0 3px #f7fdff6e, 0 0 0 6px #2db18f6e;
      transition: $ui-elements-transition;
   }
  }
  &:active {
    &::-webkit-slider-thumb {
      background: #2db18f;
      box-shadow: 0 0 0 2px #f7fdff6e, 0 0 0 4px #2db18f6e;
      transition: $ui-elements-transition;
   }
  }
  &::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: whitesmoke;
    cursor: pointer;
    border-radius: 70px;
    transition: $ui-elements-transition;
  }

  @for $i from 1 through 100 {
    &.value-#{$i}:before {
      width: calc( #{$i}% - #{$i*15px/100} );
    }
  }

  &:before {
    content: "";
    height: 5px;
    position: absolute;
    background: #2db18f;
    transition: none;
    border-radius: 10px 0 0 10px;
    box-shadow: 0 1px 4px 0 rgba(51, 51, 51, 0), 0 8px 24px 0 rgba(51, 51, 51, 0), 0 0 0 1px rgba(51, 51, 51, 0), inset 0 -1px 10px 4px rgba(51, 51, 51, 0.1);
  }
}

.slider:hover {
  opacity: 1;
}

@keyframes rotate {
  0%   {transform: rotate(0deg) scale(0.4);}
  100% {transform: rotate(360deg) scale(0.4);}
}

@keyframes rotateBack {
  0% {transform: rotate(360deg) scale(0.4);}
  100% {transform: rotate(360deg) scale(0.4);}
}

.device {
  position: relative;
  background: #464646;
  background: -moz-linear-gradient(45deg, #464646 0%, #545454 100%);
  background: -webkit-linear-gradient(45deg, #464646 0%,#545454 100%);
  background: linear-gradient(45deg, #464646 0%,#545454 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#464646', endColorstr='#545454',GradientType=1 );
  box-shadow: 0 1px 4px 0 rgba(51, 51, 51, 0.31), 0 8px 24px 0 rgba(51, 51, 51, 0.34), 0 0 0 1px rgba(51, 51, 51, 0), inset 0 -2px 2px 2px rgba(51, 51, 51, 0.13);

  &.full-screen{
    width: 100vw !important;
    height: 100vh !important;
    max-width: unset !important;
    max-height: unset !important;
    padding: 0 !important;
    border-radius: 0 !important;
    z-index: 2 !important;
    &:after,&:before {
      content: none !important;
    }
    .screenWrapper {
      border-radius: 0 !important;
    }
  }

}

$vw-context: 100vw * 1px;

.device.smartphone {
  overflow: hidden;
  width: 3em;
  height: 5em;
  font-size: 0.6em;
  max-width: calc(1.78*24vh);
  max-height: 80vh;
  padding: 0.2em;
  border-radius: 0.6em;
  &:before {
    content: '';
    width: 10%;
    height: 6%;
    position: absolute;
    background: #515151;
    z-index: 1;
    left: 50%;
    top: 1px;
    transform: translateX(-50%);
    border-radius: 0 0 15px 15px;
    box-shadow: 0 1px 4px 0 rgba(51, 51, 51, 0), 0 8px 24px 0 rgba(51, 51, 51, 0), 0 0 0 1px rgba(51, 51, 51, 0), inset 0 -1px 10px 4px rgba(51, 51, 51, 0.1);
  }
  &:after {
    content: '';
    width: 10%;
    height: 5.8%;
    position: absolute;
    background: inherit;
    z-index: 1;
    left: 50%;
    filter: brightness(1.5);
    top: 0.2%;
    transform: translateX(-50%) scale(0.3);
    border-radius: 15px;
    box-shadow: 0 1px 4px 0 rgba(51, 51, 51, 0), 0 8px 24px 0 rgba(51, 51, 51, 0), 0 0 0 1px rgba(51, 51, 51, 0), inset 0 -1px 10px 4px rgba(51, 51, 51, 0.1);
  }
  &.rotate{
    height: 40vw;
    width: calc(40vw/0.53);
    max-height: calc(1.78*24vh);
    max-width: 80vh;
    &:before {
      width: 6%;
      height: 10%;
      left: 0%;
      top: 50%;
      transform: translateY(-50%);
      border-radius: 0 15px 15px 0;
    }
    &:after {
      width: 5.8%;
      height: 10%;
      left: 0.2%;
      top: 50%;
      transform: translateY(-50%) scale(0.3);
    }
  }
  .screenWrapper {
    border-radius: 1em;
  }
}

.device.tablet {
  overflow: hidden;
  width: 50vw;
  height: calc(50vw/0.6);
  max-width: calc(1.78*30vh);
  max-height: 70vh;
  padding: 25px 10px 15px 10px;
  border-radius: 20px;
  &:before {
    content: '';
    width: 12px;
    height: 12px;
    position: absolute;
    background: inherit;
    z-index: 1;
    left: 50%;
    filter: brightness(1.3);
    top: 6px;
    transform: translateX(-50%);
    border-radius: 15px;
    box-shadow: 0 1px 4px 0 rgba(51, 51, 51, 0), 0 8px 24px 0 rgba(51, 51, 51, 0), 0 0 0 1px rgba(51, 51, 51, 0), inset 0 -1px 10px 4px rgba(51, 51, 51, 0.1);
  }
  &.rotate {
    width: calc(50vw/0.6);
    height: 50vw;
    max-width: 70vh;
    max-height: calc(1.78*30vh);
    padding: 10px 15px 10px 25px;
    &:before {
      width: 2.4%;
      height: 4%;
      position: absolute;
      background: inherit;
      z-index: 1;
      left: 1%;
      filter: brightness(1.3);
      top: 50%;
      transform: translateY(-50%);
    }
  }
}


.device.computer {
    max-width: calc(1.78*70vh);
    max-height: 70vh;
    width: 5em;
    height: 3em;
    font-size: 0.6em;
    padding: .2em 0.1em;
    border-radius: 0.7em;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;

  &:before {
    content: '';
    width: 107%;
    height: 6%;
    position: absolute;
    background: inherit;
    z-index: 1;
    left: 50%;
    bottom: -5%;
    transform: translateX(-50%);
    filter: brightness(1.3);
    border-radius: 0 0 15px 15px;
    box-shadow: 0 1px 4px 0 rgba(51, 51, 51, 0.15), 0 8px 24px 0 rgba(51, 51, 51, 0.13), 0 0 0 1px rgba(51, 51, 51, 0.21), inset 0 -1px 10px 4px rgba(51, 51, 51, 0.17);
}
   &:after {
    content: '';
    width: 10%;
    height: 2%;
    position: absolute;
    background: inherit;
    z-index: 1;
    left: 50%;
    bottom: -1%;
    transform: translateX(-50%);
    filter: brightness(2.3);
    border-radius: 0 0 15px 15px;
    box-shadow: 0 1px 4px 0 rgba(51, 51, 51, 0), 0 8px 24px 0 rgba(51, 51, 51, 0), 0 0 0 1px rgba(51, 51, 51, 0), inset 0 -1px 10px 4px rgba(51, 51, 51, 0.1);
}
  &.rotate{
    transform: translate(-50%, -50%) rotate(360deg);
  }
}


.device.castaudio {
  overflow: hidden;
  width: 4em;
  height: 3em;
  font-size: 0.6em;
  max-width: calc(1.78*24vh);
  max-height: 80vh;
  padding: 0.2em;
  border-radius: 0.6em;
  &:before {
    content: "";
    width: 3em;
    height: 3em;
    position: absolute;
    background: #515151;

    background: repeating-radial-gradient(circle, #515151, #515151 0.4em, transparent -0.6em, transparent 2.6em);
    z-index: 1;
    left: -1em;
    bottom: -1em;
    border-radius: 2.3em;
    box-shadow: 0 1px 4px 0 rgba(51, 51, 51, 0), 0 8px 24px 0 rgba(51, 51, 51, 0), 0 0 0 1px rgba(51, 51, 51, 0), inset 0 -1px 10px 4px rgba(51, 51, 51, 0.1);
  }
  &.play:before{
  background: repeating-radial-gradient( circle, #515151, #515151 0.4em, transparent 0.4em, transparent 0.6em, #515151 0.6em );
  }
  &:after {
  content: '';
  width: 10%;
  height: 5.8%;
  position: absolute;
  background: inherit;
  z-index: 1;
  left: 50%;
  filter: brightness(1.5);
  top: 0.2%;
  transform: translateX(-50%) scale(0.3);
  border-radius: 15px;
  box-shadow: 0 1px 4px 0 rgba(51, 51, 51, 0), 0 8px 24px 0 rgba(51, 51, 51, 0), 0 0 0 1px rgba(51, 51, 51, 0), inset 0 -1px 10px 4px rgba(51, 51, 51, 0.1);
}
  &.rotate{
    height: 40vw;
    width: calc(40vw/0.53);
    max-height: calc(1.78*24vh);
    max-width: 80vh;
    &:before {
      width: 6%;
      height: 10%;
      left: 0%;
      top: 50%;
      transform: translateY(-50%);
      border-radius: 0 15px 15px 0;
    }
    &:after {
      width: 5.8%;
      height: 10%;
      left: 0.2%;
      top: 50%;
      transform: translateY(-50%) scale(0.3);
    }
  }
  .screenWrapper {
    border-radius: 1em;
  }
}

.is-active .screenWrapper {
  background: #2db18f;
}

.screenWrapper{
  webkit-border-radius: inherit;
  -moz-border-radius: inherit;
  border-radius: inherit;
  margin: 0 auto;
  overflow: hidden;
  height: 100%;
  width: 100%;
  background: #0f0f0f;
  box-shadow: 0 4px 19px 6px rgba(94, 219, 141, 0.2);
  transition-duration: 0s !important;
  &.x2{
    height: 200%;
    width: 200%;
    transform-origin: 0 0;
    transform: scale(.5);
  }
}

.screen {
    position: relative;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    font-size: 1rem;
    border:0;
    border-radius: inherit;
    transition-duration: 0s !important;
}

.frameInput {
  border:0;
  border-bottom: 2px solid black;
  background: transparent;
  width: -webkit-fill-available;
  text-align:center;
  cursor: pointer;
  &:focus{
    outline: none;
    padding: 25px;
    width: calc(100% - 50px);
    z-index: 2;
    position: absolute;
    background: #000000b3;
    top: 0;
    color: #bdbdbdb5;
    cursor: initial;
    font-size: -webkit-xxx-large;
  }
}

