:host {
  display: grid;
  grid-template-columns: 5em auto 1.4em;
  grid-template-rows: 5em auto;
  width: 5em;
  padding: 1em;
  margin: 1em;
  border-radius: 1em;
  background: #43434373;
  border: .2em solid #00514778;

  .tile-title {
    grid-column: 1;
    grid-column-end: 3;
    grid-row: 2;
    padding-top: 1em;
    justify-self: center;
  }

  .tile-image {
    grid-column: 1;
    grid-row: 1;
  }

  .tile-footer {
    grid-column: 1;
    grid-row: 2;
    grid-column-end: 3;
    padding-top: 1em;
  }

  .tile-lateral {
    grid-column: 3;
    grid-row: 2;
    justify-self: center;
  }

}

:host(.expand){
  width: inherit;
  .tile-title {
    grid-column: 2;
      grid-column-end: 3;
      grid-row: 1;
      padding-left: 1em;
  }
}

:host(.is-active){
  border-color: #2db18f;
}
