.title {
  padding-left: 34px;
  display: grid;
  a {
    font-size: 1.2em;
  }
}

.genre{
  text-align: right;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

*, *:before, *:after {
  font-family: 'Varela Round', sans-serif;
  transition: all .1s cubic-bezier(0.68, -0.55, 0.265, 1.55), font-size .2s ease-in-out;
}

$faster-transition: all 0.05s cubic-bezier(0.64, -0.58, 0.71, 1.35);


input {
  background: #222222;
  color: #ffffff9c;
  position: fixed;
  opacity: 0.8;
  height: 2em;
  left: calc(100vw - 14ch - .2em - 5.5em);
  z-index: 105;
  transform: translateX(0%);
  text-align: center;
  top: 0em;
  border: 0;
  margin: 0.9em 0.1em .1em .1em;
  border-radius: 0.4em;
  padding: 0.1em 0.7em;
  width: 14ch;
  font-size: 1em;
  transition: $faster-transition;
}

input.focus {
  outline: none;
  padding: 0.2em;
  border-radius: 0.4em;
  color: white;
  width: 60vw;
  left: 50vw;
  opacity: 1;
  transform: translateX(-50%);
}

input.whiteMe {
  background: white;
  font-size: 0;
}

.player-icon {
  width: 2.5em;
  height: 2.5em;
  margin: 0;
  justify-self: end;
}

.cross-icon {
  position: fixed;
  top: 1em;
  right: 2em;
  display: none;

  &.show {
    display: block;
  }
}


.cross-icon {
  &.loop {
    opacity: 1;
    animation: .4s loop linear 1 !important;
  }
}

input:focus + .clearButton {
  * {
    animation: .4s loop ease-in-out 1;
  }
}

ul.filters {
  list-style: none;
  display: inline-flex;
  top: 0;
  z-index: 103;
  margin: 0;
  padding: 7em 0 0;
  width: 100vw;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background: #2db18f;

  transform: translateY(calc(-100% + 0.2em));
  transition: $faster-transition;

  &.search {
    transform: translateY(-3em);

    &:before {
      color: #222;
      height: 100vh;
    }
  }

  &:before {
    position: absolute;
    top: 9.2em;
    left: 0;
    width: 100vw;
    height: 0vh;
    background: #0f0f0f70;
    //content: '';
  }


  li:hover {
    color: #222222b0;
    cursor: pointer;
  }

  li {
    position: relative;
    // background: #2db18f;
    font-size: .8em;
    padding: 1em;
    margin: 1em;
    border-radius: 1em;
    font-weight: bolder;
    transition-duration: 0.1s;
    color: #222;
  }

  li:after {
    content: ' ';
    position: absolute;
    background: black;
    width: 100%;
    transform: scaleX(0);
    transform-origin: center left;
    height: .2em;
    left: 0;
    bottom: .6em;
  }

  li.selected:after {
    transform: scaleX(1);
  }

  .backButton {
    position: absolute;
    left: 10vw;
    width: 1.8em;
    top: 2em;
    height: 1.8em;
    background: black;
    clip-path: polygon(40% 0%, 48% 11%, 18% 49%, 18% 49%, 48% 87%, 40% 100%, 0% 50%);
  }

  .searchButton {
    position: absolute;
    right: 2em;
    top: 2em;
    transform: scale(1.5);

    i {
      color: #222;
    }
  }
}


.spotify {
  background: #2db18f;
  position: fixed;
  width: 25vh;
  z-index: 100;
  height: 25vh;
  border-radius: 50%;
  box-shadow: 0 4px 19px 6px rgba(94, 219, 141, 0.2);

  top: calc(100vh - 25vh / 2);
  left: calc(50vw - 25vh / 2);
}


.spotify:hover {
  cursor: pointer;
  box-shadow: 0 4px 19px 6px rgba(94, 219, 141, 0.28);
  transform: scale(1.05)
}

.spotify:active {
  transform: scale(.95) translateY(10%);
  box-shadow: 0px 7px 19px 3px rgba(94, 219, 141, 0.25);
}

.spotify:after {
  content: 'N D';
  position: absolute;
  letter-spacing: 17vh;
  color: rgba(90, 227, 142, 0);
  width: 80vh;
  height: 25vh;
  font-size: 0;
  left: -20vh;
  top: 5vh;
  text-align: center;
  text-shadow: 0px 0px 16px rgba(94, 219, 141, 0);
}

.spotify:before {
  content: ' ';
  position: absolute;
  background: #0f0f0f;
  width: 30%;
  height: 30%;
  border-radius: 50%;
  left: 35%;
  top: 35%;
  transform-origin: center;
  font-size: 9vw;
  box-shadow: inset 0 4px 19px 6px rgba(94, 219, 141, 0.2);

}

.spotify:hover:before {
  box-shadow: inset 0 4px 19px 6px rgba(94, 219, 141, 0.28);
  transform: scale(1.9);
}

.spotify.loop:after {
  color: rgba(90, 227, 142, 1);
  text-shadow: 0px 0px 16px rgba(94, 219, 141, 1);
  font-size: 13vh;
}

.spotify:active:before {
  transform: scale(2.7);
  box-shadow: inset 0 4px 7px 1px rgba(94, 219, 141, 0.25);
}

.loop.spotify:before {
  animation: 4s load-loop ease-in-out infinite;
}

.spotify.player {
  top: calc(100vh - 20vh);

  &:active:before {
    transform: scale(1);
  }

  &:hover:before {
    transform: scale(1);
  }
}

.spotify.play:before {
  content: ' ';
  background: transparent;
  position: absolute;
  border-radius: 0;
  left: 43%;
  top: 36%;
  transform-origin: center;
  font-size: 9vw;
  width: 0;
  height: 0;
  border-top: 0.7em solid transparent;
  border-bottom: .7em solid transparent;
  border-left: 1em solid #0f0f0f;
}

.spotify.pause:before {
  content: ' ';
  background: transparent;
  position: absolute;
  border-radius: 0;
  transform-origin: center;
  font-size: 9vw;
  box-shadow: inset 0.5em 0 black, inset -0.5em 0 black;
}


@keyframes load-loop {
  0%, 100% {
    transform: scale(3);
  }
  50% {
    transform: scale(0);
  }
}

.spotify.search {
  left: calc(50vw - 25vh);
  top: -25vh;
  width: 50vh;
  height: 50vh;
}

.search-bar {
  height: 2.5em;
  position: fixed;

  &.focus {
    height: 6.5em;
    z-index: 1;
  }
}


@keyframes loop {
  from {
    transform: translateX(-100%) scale(2) rotate(45deg);
  }
  to {
    transform: translateX(-100%) scale(2) rotate(405deg);
  }
}

.results, .results-header {
  left: 18vw;
}

.results-header {
  top: .2em;
  height: 3em;
  z-index: 104;
  background: #222222;
  position: fixed;
  right: calc(18vw + 5px);
  align-content: center;
  display: grid;
  grid-template-columns: auto 3em;

  .button-action {
    grid-column: 2;

    z-index: 104;
  }

  span {
    width: 100%;
    margin-left: .5em;
  }

  &.filters-on {
    top: 7.5em;
    border-radius: 1em 1em 0 0;
  }

}

.play-button-wrapper{
  &:hover{
    cursor: pointer;
  }
}
.results-wrapper{
  position: absolute;
  top: 0;
  bottom: 12em;
}

.results {
  list-style: none;
  margin: 0;
  top: 0.2em;
  padding: 1em;
  padding-top: 2em;
  max-height: calc(90vh - 4em);
  list-style: none;

  transition-duration: 0.1s !important;
  position: fixed;
  z-index: 103;
  background: #222;
  right: 18vw;
  overflow-y: auto;
  overflow-x: hidden;
  font-size: 0;

  &.filters-on {
    top: 8.5em;
    padding-top: 0;
    max-height: calc(100vh - 17em);
    background: #101010;
  }

  li {
    transform: translateX(25%);
  }

  &.show {
    font-size: 1em;
    background: #101010;
  }

  li {
    transform: translateX(0%);

    &.show {
      height: 100%;
      font-size: 1em;
    }


    &.close {
      height: 2em;
      transition-duration: 0s;

      * {
        transition-duration: 0s;
      }
    }
  }
}


.resultSet {
  li {
    display: flex;
    margin: .5em auto;
    height: 10em;
    max-height: 10em;

    &:after {
      content: ' ';
      position: absolute;
      background: #ffffff3b;
      width: 100%;
      transform: scaleX(0);
      transform-origin: center;
      height: 2.2em;
      border-radius: 1em;
      left: 0;
      bottom: 0;
    }

    @for $i from 1 through 10 {
      li:nth-child(#{$i}n) {
        animation-delay: #{$i * 0.1}s;
      }
    }


    &.selected:after {
      transform: scaleX(0.9);
    }
  }

  .result {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 1em;
    margin: 0.3em;
    min-height: 5em;

    * {
      transition: none !important;
    }

    img {
      width: 4em;
      height: 4em;
      border-radius: 15px;
    }
  &:hover{
    background: #222222;
  }
  }
}


@media screen and (max-width: 600px) {
  :host {
    position: fixed;
  }


  input {
    color: #ffffff9c;
    position: fixed;
    height: 4em;
    z-index: 105;
    transform: translateX(0%);
    text-align: center;
    width: 100%;
    font-size: 1em;
    transition: $faster-transition;
    margin: 0;
    left: 0;
    top: inherit;
    border-radius: 0;
    opacity: 1;
    bottom: 90px;
    padding: 0;
    background: #143a35;
  }

  input.focus {
    outline: none;
    padding: 0.2em;
    color: white;
    width: 100%;
    left: 0;
    opacity: 1;
    border-radius: 0;
    transform: translateX(0);
  }

  .search-bar {

    &.focus {
      height: 100%;
      z-index: 1;
    }
  }


  ul.filters {
    list-style: none;
    display: inline-flex;
    z-index: 103;
    margin: 0;
    padding: 1.3em 0 0;
    width: 100vw;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background: #2db18f;
    transform: translateY(calc(-100% + 0.2em));
    transition: all 0.1s cubic-bezier(0.64, -0.58, 0.71, 1.35);

    &.search {
      height: 4em;
      top: 0;
      z-index: 110;
      position: relative;
      transform: translateY(0);
      padding: 0;

      &:before {
        color: #222;
        height: 100vh;
      }
    }
  }

  .results {
    list-style: none;
    margin: 0;
    transition-duration: 0.1s !important;
    position: fixed;
    z-index: 103;
    right: 0;
    left: 0;
    overflow-y: auto;
    overflow-x: hidden;
    font-size: 0;
    background: #000000;

    &.filters-on {
      top: 4em;
      max-height: calc(100vh - 16em);
      height: 100vh;
    }

    .image{
      height: 100%;
      font-size: 1.1em;
    }
  }

  .cross-icon {
    position: fixed;
    bottom: 9em;
    right: 1em;
    display: none;
    top: auto;
    z-index: 150;
    height: 16px;

    &.show {
      display: block;
    }
  }

}
