.title {
  a {
    font-size: 1.2em;
  }
}

ul,ol {
    margin: 0;
    padding:0;
    list-style: none;
}

*, *:before, *:after {
  font-family: 'Varela Round', sans-serif;
  transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55),  font-size .2s ease-in-out;
}

$faster-transition:all 0.3s cubic-bezier(0.64, -0.58, 0.71, 1.35);

input {
  border-radius: 4em;
  background: #222222;
  color: #ffffff9c;
  position: fixed;
  height: 2em;
  left: 50vw;
  z-index: 105;
  transform: translateX(-50%);
  text-align: center;
  top: 0em;
  border: 0.1em solid #2db18f;
  border-top: 0.2em solid #2db18f;
  border-radius: 0 0 1em 1em;
  padding: .1em 0.7em;
  color: white;
  width: 14ch;
  font-size: 1em;
  transition: $faster-transition;
}

input.focus {
  outline: none;
  top: -.1em;
  border: 0.1em solid #2db18f;
  border-radius: 0 0 38px 38px;
  padding: 0.8em 3em;
  color: white;
  width: 60vw;
  left:50vw;
}

input.whiteMe {
  background: white;
  font-size: 0;
}


.clearButton {
  top: 2.7em;
  background: white;
  position: fixed;
  z-index: 103;
  transform: translateX(-100%) scale(2);
  left: 81vw;
  width: 1em;
  opacity: 0;
  font-size: 0.5em;
  &.loop{
    opacity: 1;
     animation: .4s loop linear 1 !important;
  }
}

input:focus + .clearButton {
    * {animation: .4s loop ease-in-out 1;}
}

ul.filters {
    list-style: none;
    display: inline-flex;
    position: fixed;
    z-index: 103;
    margin: 0;
    padding: 0;

    padding-top: 5.3em;
    width: 100vw;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background: #2db18f;

    transform: translateY(calc(-100% + 0.2em));
    transition: $faster-transition;

    &.search {
      border-radius: 0 0 2em 2em;
      transform: translateY(-3em);
      &:before {
        color: #222;
        height: 100vh;
      }
    }

    &:before {
      position: absolute;
      top: 9.2em;
      left: 0;
      width: 100vw;
      height: 0vh;
      background: #0f0f0f70;
      //content: '';
    }


    li:hover {
        color: #222222b0;
        cursor: pointer;
    }

    li {
      position: relative;
       // background: #2db18f;
        font-size: .8em;
        padding: 1em;
        margin: 1em;
        border-radius: 1em;
        font-weight: bolder;
        transition-duration: .2s;
        color: #222;
    }

    li:after {
        content: ' ';
        position: absolute;
        background: black;
        width: 100%;
        transform: scaleX(0);
        transform-origin: center left;
        height: .2em;
        left: 0;
        bottom: .6em;
    }

    li.selected:after {
      transform: scaleX(1);
  }

  .backButton {
        position: absolute;
    left: 10vw;
    width: 1.8em;
    top: 2em;
    height: 1.8em;
    background: black;
    clip-path: polygon(40% 0%, 48% 11%, 18% 49%, 18% 49%, 48% 87%, 40% 100%, 0% 50%);
  }
  .searchButton {
    position: absolute;
    right: 2em;
    top: 2em;
    transform: scale(1.5);
    i {
     color: #222;
    }
  }
}


.spotify{
  background: #2db18f;
  position: fixed;
  width: 25vh;
  z-index: 100;
  height: 25vh;
  border-radius: 50%;
  box-shadow: 0 4px 19px 6px rgba(94, 219, 141, 0.2);

  top: calc(100vh - 25vh/2);
  left: calc(50vw - 25vh/2);
}


.spotify:hover {
    cursor: pointer;
    box-shadow: 0 4px 19px 6px rgba(94, 219, 141, 0.28);
    transform: scale(1.05)
}

.spotify:active {
  transform: scale(.95) translateY(10%);
  box-shadow: 0px 7px 19px 3px rgba(94, 219, 141, 0.25);
}

.spotify:after {
    content: 'N D';
    position: absolute;
    letter-spacing: 17vh;
    color: rgba(90, 227, 142, 0);
    width: 80vh;
    height: 25vh;
    font-size: 0;
    left: -20vh;
    top: 5vh;
    text-align: center;
    text-shadow: 0px 0px 16px rgba(94, 219, 141,0);
}

.spotify:before {
    content: ' ';
    position: absolute;
    background: #0f0f0f;
    width:30%;
    height:30%;
    border-radius: 50%;
    left: 35%;
    top: 35%;
    transform-origin: center;
    font-size: 9vw;
    box-shadow: inset 0 4px 19px 6px rgba(94, 219, 141, 0.2);

}
.spotify:hover:before {
    box-shadow: inset 0 4px 19px 6px rgba(94, 219, 141, 0.28);
  transform: scale(1.9);
}
.spotify.loop:after {
    color: rgba(90, 227, 142,1);
    text-shadow: 0px 0px 16px rgba(94, 219, 141,1);
    font-size: 13vh;
}
.spotify:active:before {
  transform: scale(2.7);
  box-shadow: inset 0 4px 7px 1px rgba(94, 219, 141, 0.25);
}

.loop.spotify:before {
  animation: 4s load-loop ease-in-out infinite;
}

.spotify.player {
  top: calc(100vh - 20vh);
  &:active:before{transform: scale(1);}
  &:hover:before{transform: scale(1);}
}

.spotify.play:before {
    content: ' ';
  background: transparent;
    position: absolute;
    border-radius: 0;
    left: 43%;
    top: 36%;
    transform-origin: center;
    font-size: 9vw;
    width: 0;
    height: 0;
    border-top: 0.7em solid transparent;
    border-bottom: .7em solid transparent;
    border-left: 1em solid #0f0f0f;
}

.spotify.pause:before  {
  content: ' ';
    background: transparent;
    position: absolute;
    border-radius: 0;
    transform-origin: center;
    font-size: 9vw;
    box-shadow: inset 0.5em 0 black, inset -0.5em 0 black;
}


@keyframes load-loop {
   0%, 100% {
     transform: scale(3);
   }
   50% {
     transform: scale(0);
   }
 }

.spotify.search {
    left: calc(50vw - 25vh);
    top: -25vh;
    width: 50vh;
    height: 50vh;
}

.search-bar {
  height: 2.5em;
  &.focus{
    height: 6.5em;
  }
}



@keyframes loop {
    from {
        transform:  translateX(-100%) scale(2) rotate(45deg);
    }
    to{
        transform:  translateX(-100%) scale(2) rotate(405deg);
    }
}

.results, .results-header {
  left: 18vw;
}

.results-header {
  top: .2em;
  height: 3em;
  z-index: 104;
  background: #222222;
  position: fixed;
  right: calc(18vw + 5px);
  align-content: center;
  display: grid;
  grid-template-columns: auto 3em;
  .button-action {
    grid-column: 2;

    z-index: 104;
  }
  span {
    width: 100%;
    margin-left: .5em;
  }

  &.filters-on {
    top: 7.5em;
    border-radius: 1em 1em 0 0;
  }

}

.results {
    list-style: none;
    margin: 0;
    top: 0.2em;
    padding: 1em;
    padding-top: 2em;
    max-height: calc( 90vh - 4em );
    list-style: none;

    transition-duration: .2s !important;
    position: fixed;
    z-index: 103;
    background: #222;
    right: 18vw;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 0 0 1em 1em;
    font-size: 0;

    &.filters-on{
      top: 10.5em;
      padding-top: 1em;
      max-height: calc(100vh - 13.5em);
    }
  li {
    transform: translateX(25%);
  }
&.show {
  font-size: 1em;
}
  li {
    transform: translateX(0%);
    &.show  {
      height: 100%;
      font-size: 1em;
    }
    &.close {
      height: 2em;
      transition-duration: 0;
      * {
          transition-duration: 0;
      }
    }
  }
}


.resultSet {
    li {
      display: flex;
      margin: .5em auto;
     &:after {
      content: ' ';
      position: absolute;
      background: #ffffff3b;
      width: 100%;
      transform: scaleX(0);
      transform-origin: center left;
      height: 2.2em;
      border-radius: 1em;
      left: 0;
      bottom: 0;
    }

    @for $i from 1 through 10 {
    li:nth-child(#{$i}n) {
        animation-delay: #{$i * 0.1}s;
      }
    }


    &.selected:after {
      transform: scaleX(0.9);
    }
  }
   .result {
     pointer-events: none;
    display: flex;
    align-items: center;
    * {
      transition: none !important;
    }
     img {
      border-radius: 100%;
      width: 2em;
      height: 2em;
      margin-right: 0.4em;
    }
  }
}
